<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="fragment" content="!">
		<meta property="og:title" content="{{meta_title}}">
        <meta property="og:description" content="{{meta_description}}">
        <meta property="og:image" content="{{meta_image}}">
		<meta name="description" content="{{meta_description}}">
        <meta name="keywords" content="{{meta_keywords}}">
        <meta name="author" content="">
        <title>{{meta_title}}</title>
        
        <link rel="icon" href="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/png/1562355521062/cropped-Kanata-Central-BIA-Favicon-1-32x32.png" sizes="32x32" />
        <link rel="icon" href="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/png/1562355548587/cropped-Kanata-Central-BIA-Favicon-1-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/png/1562355567881/cropped-Kanata-Central-BIA-Favicon-1-180x180.png" />
        <meta name="msapplication-TileImage" content="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/png/1562355601005/cropped-Kanata-Central-BIA-Favicon-1-270x270.png" />

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
        <link href="https://cdn.jsdelivr.net/npm/vue2-animate@1.0.4/dist/vue2-animate.min.css" rel="stylesheet">
        <link href="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/text/css/1522163605908/mapplic.css" rel="stylesheet">
        <link href="//codecloud.cdn.speedyrails.net/sites/59bac7db6e6f644f22ba0000/text/css/1485967426000/map.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
        <script src="https://use.fontawesome.com/9cb86d00ca.js"></script>
        
        <link rel="stylesheet" href="/style.css">
        
        <!--Google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-115200481-6', 'auto');
            ga('send', 'pageview');
        </script> 
    
    </head>
    <body>
        {%raw-%}
        <div id="app" v-cloak>
            <loader v-if="!dataLoaded"></loader>
            <div class="main_content_container" v-if="dataLoaded">
                <transition name="custom-classes-transition" enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
                    <div class="mobile_menu_container" v-show="show_mobile_menu">
                        <div class="opened_mobile_menu">
                            <div class="text-left" style="padding-bottom: 20px;border-bottom: 1px solid #979797;">
                                <img style="max-width: 120px;" src="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/jpeg/1562788670350/kanatacentral.jpg"  alt="">
                                <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1513274154350/close_menu_icon.png" class="pull-right" alt="" style="margin-top: 10px;" id="close_menu" @click="show_mobile_menu = !show_mobile_menu">
                            </div>
                            <nav id="mobile_nav" v-show="show_mobile_menu">
    							<ul>
    								<div class="mobile_menu_site_logo">
    									<router-link to="/">
    									    <img v-if="property" src="//codecloud.cdn.speedyrails.net/sites/5d07eb7b6e6f646394010000/image/png/1561568787667/sevenoaks_logo.png" :alt="property.name +' Mobile Logo'"/>
									    </router-link>
    								</div>
    								<li v-for="(item,key) in menu_items" class="menu_item">
        								<span @click="closeMobileMenu()" v-if="item.sub_menu == undefined">
        								     <router-link :to="item.href">{{$t(item.name)}}</router-link>
        								</span>
    							        <div v-else>
    							            <b-card no-body class="mb-1">
                                                <b-card-header header-tag="header" class="p-1" role="tab">
                                                    <b-btn block @click="item.show_sub_menu = !item.show_sub_menu; toggleVar=!toggleVar;" :class="item.show_sub_menu ? 'collapsed' : null" :aria-controls="$t(item.name)" :aria-expanded="item.show_sub_menu ? 'true' : 'false'">
                                                        {{$t(item.name)}}
                                                        <i v-if="item.show_sub_menu"  class="fa fa-minus"></i>
                                                        <i v-else  class="fa fa-plus"></i>
                                                    </b-btn>
                                                </b-card-header>
                                                <b-collapse v-model="item.show_sub_menu" :id="$t(item.name)" :visible="item.show_sub_menu" accordion="my-accordion" role="tabpanel" class="accordion_body">
                                                    <b-card-body v-for="sub_menu in item.sub_menu">
                                                        <p class="card-text" @click="closeMobileMenu()">
                                                            <a v-if="sub_menu.external" :href="sub_menu.href" target="_blank">{{$t(sub_menu.name)}}</a>
                                                            <a v-else-if="sub_menu.external_in_window" :href="sub_menu.href">{{$t(sub_menu.name)}}</a>
                    						                <router-link v-else-if="!sub_menu.router_name" :to="sub_menu.href">{{$t(sub_menu.name)}}</router-link>
                    						                <router-link v-else :to="{name : sub_menu.router_name, params: { new_store: sub_menu.prop }, query:{new_store: 'new_store'}} ">{{$t(sub_menu.name)}}</router-link>
                                                        </p>
                                                    </b-card-body>
                                                </b-collapse>
                                            </b-card>
    							        </div>
    							    </li>
    							</ul>
    							
    							<div class="small_hr"></div>
    							<div class="tel_num" v-if="property">
                                    <a v-if="property.contact_phone" :href="'tel:'+property.contact_phone">{{ property.contact_phone }}</a>
                                </div>
                                <div class="address" v-if="property">
                                    <p> {{ property.address1 }}<br/>
                                    {{ property.city }}, {{ property.province_state }} {{ property.postal_code }}</p>
                                </div>
    							<div class="header_social">
    							    <social-links></social-links>
    							</div>
    							<span style="visibility: hidden;width: 0;height: 0;display: inline-block;">{{toggleVar}}</span>
    							<div class="small_hr"></div>
    						</nav>
           <!--                 <ul>-->
                                <!--<li v-for="(item, index) in menu_items">-->
                                <!--    <router-link :to="item.href" :id="item.id" class="all_caps">{{ item.name }}</router-link>-->
                                <!--</li>-->
           <!--                     <li v-for="(item,key) in menu_items">-->
    							<!--	<span @click="closeMobileMenu()" v-if="item.sub_menu == undefined">-->
    							<!--	     <router-link :to="item.href">{{ item.name }}</router-link>-->
    							<!--	</span>-->
							    <!--    <div v-else>-->
							    <!--        <b-card no-body class="mb-1">-->
           <!--                                 <b-card-header header-tag="header" class="p-1" role="tab">-->
           <!--                                     <b-btn block @click="item.show_sub_menu = !item.show_sub_menu; toggleVar=!toggleVar;" :class="item.show_sub_menu ? 'collapsed' : null" :aria-controls="$t(item.name)" :aria-expanded="item.show_sub_menu ? 'true' : 'false'">-->
           <!--                                         {{ item.name }}-->
           <!--                                         <i v-if="item.show_sub_menu"  class="fa fa-minus"></i>-->
           <!--                                         <i v-else  class="fa fa-plus"></i>-->
           <!--                                     </b-btn>-->
           <!--                                 </b-card-header>-->
           <!--                                 <b-collapse v-model="item.show_sub_menu" :id="$t(item.name)" :visible="item.show_sub_menu" accordion="my-accordion" role="tabpanel" class="accordion_body">-->
           <!--                                     <b-card-body v-for="sub_menu in item.sub_menu">-->
           <!--                                         <p class="card-text" @click="closeMobileMenu()">-->
           <!--                                             <a v-if="sub_menu.external" :href="sub_menu.href" target="_blank">{{ sub_menu.name }}</a>-->
           <!--                                             <a v-else-if="sub_menu.external_in_window" :href="sub_menu.href">{{ sub_menu.name }}</a>-->
           <!--     						                <router-link v-else-if="!sub_menu.router_name" :to="sub_menu.href">{{ sub_menu.name }}</router-link>-->
           <!--     						                <router-link v-else :to="{name : sub_menu.router_name, params: { new_store: sub_menu.prop }, query:{new_store: 'new_store'}} ">{{ sub_menu.name }}</router-link>-->
           <!--                                         </p>-->
           <!--                                     </b-card-body>-->
           <!--                                 </b-collapse>-->
           <!--                             </b-card>-->
							    <!--    </div>-->
							    <!--</li>-->
           <!--                 </ul>-->
                            <div class="tel_num" v-if="property.contact_phone">
                                <a :href="'tel:' + property.contact_phone">{{ property.contact_phone }}</a>
                            </div>
                            <div class="m_menu_today_hour" v-if="todays_hours">
                               Open Today: {{todays_hours.open_time | moment("h:mma", timezone)}} - {{todays_hours.close_time | moment("h:mma", timezone)}}
                            </div>
                            <div class="social_icons_menu show_phone text-center">
                                <a href="https://www.facebook.com/kanatacentralBIA/" target="_blank">
                                    <p class="accessibility">Follow us on Facebook</p>
                                    <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1512590798000/fb.png" alt="Follow Us On Facebook">
                                </a>
                                <a href="https://www.instagram.com/kanatacentralbia/" target="_blank">
                                    <p class="accessibility">Follow us on Instagram</p>
                                    <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1512590798000/insta.png" class="" alt="Follow Us On Instagram">
                                </a>
                            </div>
                        </div>
                    </div>
                </transition>
                <section class="content_container  position_relative menu_header">
                    <div class="mobile_search visible_phone position_relative" v-show="show_mobile_search">
                        <search-component :list="allStores" placeholder="Find Your Store" :suggestion-attribute="suggestionAttribute" v-model="mobile_search" @select="onOptionSelect" class="">
                            <template slot="item" scope="option" class="manual">
                                <article class="media">
                                    <p>
                                        <strong>{{ option.data.name }}</strong>
                                    </p>
                                </article>
                            </template>
                        </search-component>
                        <img src="//codecloud.cdn.speedyrails.net/sites/56c740936e6f642d56000000/image/jpeg/1456781961000/icon_close.jpg" class="close_search close_search_m" alt="search" @click="show_mobile_search = !show_mobile_search; mobile_search=''">
                    </div>
                    <div class="row header mobile_margin row header mobile_margin main_container menu_header_content">
                        <div class="col-md-4 hidden_phone">
                            <p class="all_caps">Follow us!</p>
                            <div class="social_icons ">
                                <a class="social_fb" href="https://www.facebook.com/kanatacentralBIA/" target="_blank">
                                    <p class="accessibility">Follow us on Facebook</p>
                                </a>
                                <a class="social_insta" href="https://www.instagram.com/kanatacentralbia/" target="_blank">
                                    <p class="accessibility">Follow us on Instagram</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 site-logo">
                            <router-link to="/">
                                <img class="" src="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/jpeg/1562788670350/kanatacentral.jpg" :alt="property.name + ' Logo'">
                            </router-link>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center position_relative text_right">
                            <span>
                                <img src="//codecloud.cdn.speedyrails.net/sites/56c740936e6f642d56000000/image/png/1455901042000/icon_search.png" class="search_btn search_btn_m show_phone" alt="search" @click="show_mobile_search = !show_mobile_search">
                                <img src="//codecloud.cdn.speedyrails.net/sites/56c740936e6f642d56000000/image/png/1455905827000/icon_menu.png" class="open_menu show_phone" alt="Menu"  id="open_menu"  @click="show_mobile_menu = !show_mobile_menu">
                            </span>
                            <img src="//codecloud.cdn.speedyrails.net/sites/56c740936e6f642d56000000/image/png/1455901042000/icon_search.png" class="search_btn search_btn_desk hidden_phone" alt="search" v-show="!is_searching">
                            <img src="//codecloud.cdn.speedyrails.net/sites/56c740936e6f642d56000000/image/jpeg/1456781961000/icon_close.jpg" class="close_search close_search_desk hidden_phone" alt="search" v-show="is_searching" @click="mobile_search=''; is_searching = !is_searching">
                            <search-component :list="allStores" placeholder="Find Your Store" :suggestion-attribute="suggestionAttribute" v-model="mobile_search" @select="onOptionSelect" @input="currentlySearching" class="desktop_search hidden_phone">
                                <template slot="item" scope="option" class="manual">
                                    <article class="media">
                                        <p>
                                            <strong>{{ option.data.name }}</strong>
                                        </p>
                                    </article>
                                </template>
                            </search-component>
                        </div>
                    </div>
                    <div class="menu_container hidden_phone main_container menu_header_content" id="menubar" :class="{sticky : stickyMenu}">
                        <ul class="stc_nav nav navbar-nav">
                            <li v-for="(item, index) in menu_items" :id="item.parent_id" class="nav_li" :class="{ dropdown : item.sub_menu }">
                                <router-link v-if="!item.sub_menu" :to="item.href" :id="item.id" class="all_caps">{{ item.name }}</router-link>
                                <span v-else data-toggle="dropdown" class="menu_link dropdown-toggle menu_dropdown_parent all_caps">{{ item.name }}</span>
                                <div v-if="item.sub_menu" class="dropdown-menu invisible_dropdown_div dropdown-menu-hover">
                                    <ul class="dd_guest dropdown_list">
                                        <div class="triangle-up"></div>
                                        <div class="triangle-up-inside"></div>
                                        <li v-for="(subitem, index) in item.sub_menu">
                                            <router-link :to="subitem.href" class="all_caps">{{ subitem.name }}</router-link>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                
                <transition name="custom-classes-transition" enter-active-class="fadeIn">
					<router-view class="router_content"></router-view>
				</transition>
                
                <section class="content_container desktop_footer hidden_phone">
                    <div class="newsletter_container text-center main_container" v-show="show_subscrption" style="margin-bottom: 60px;">
                        <h2 class="heading">SIGN UP TO RECEIVE OUR UPDATES</h2>
                        <p class="newsletter_desc sub_title">Special Offers <span>•</span> New Store Openings <span>•</span> Exclusive Events</p>
                        <router-link to="/newsletter" class="animated_btn newsletter_btn">Subscribe</router-link>
                    </div>
                    <iframe  class="grayscale visit_us_iframe hidden_phone" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5612.133520073668!2d-75.91785636734846!3d45.30707702090197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDE4JzI1LjUiTiA3NcKwNTQnNDguNSJX!5e0!3m2!1sen!2sca!4v1562789436153!5m2!1sen!2sca"  width="100%" height="300" frameborder="0" style="border:0" allowfullscreen v-show="show_map"></iframe>
                    
                    <hr class="hidden_phone" />
                    <div class="site_map main_container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 bottom_border">
                                <div class="hidden_phone">
                                    <h4 class="site_map_heading">Visit Us</h4>
                                    <div class="col-md-12 col-xs-12" style="padding: 0;">
                                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5612.133520073668!2d-75.91785636734846!3d45.30707702090197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDE4JzI1LjUiTiA3NcKwNTQnNDguNSJX!5e0!3m2!1sen!2sca!4v1562789436153!5m2!1sen!2sca" target="_blank">
                                            <p class="site_map_desc">
                                                <i class="fa fa-map-marker"></i>&nbsp;Located in the Heart of Kanata 
                                                <br />  
                                                Just off hwy 417 at Terry Fox Drive 
                                                <br />
                                                you'll find over 120 shops and restaurants.
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="show_phone">
                                    <h4 class="site_map_heading">SOCIAL</h4>
                                    <p class="site_map_desc">
                                        Connect with us!
                                    </p>
                                    <div class="social_icons">
                                        <a href="https://www.facebook.com/kanatacentralBIA/" target="_blank">
                                            <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1512595243879/fb_inverted_color_2x.png" class="mobile_social" alt="Follow Us On Facebook">
                                        </a>
                                        <a href="https://www.instagram.com/kanatacentralbia/" target="_blank">
                                            <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1512595298014/insta_inverted_color_2x.png" class="mobile_social" alt="Follow Us On Instagram">
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-4">
                                <h4 class="site_map_heading text-center">Site Map</h4>
                                <div class="row footer_site_map">
                                    <div class="col-md-6 col-xs-6">
                                        <ul>
                                            <li><router-link to="/map">Map</router-link></li>
                                            <li><router-link to="/stores">Store Directory</router-link></li>
                                            <li><router-link to="/promotions">Sales & Promos</router-link></li>
                                            <li><router-link to="/events">Events</router-link></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-xs-6 text_right">
                                        <ul>
                                            <li><router-link to="/contact_us">Contact Us</router-link></li>
                                            <li><router-link to="/newsletter">E-Newsletter</router-link></li>
                                            <li><router-link to="/leasing">Leasing Opportunities</router-link></li>
                                            <li><router-link to="/overview">BIA Overview</router-link></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 bottom_border">
                                <h4 class="site_map_heading">{{property.name}}</h4>
                                <p class="rights_reserved">
                                    ©{{copyright_year}} - All Rights Reserved.<br/> 
                                    Powered by <a href="//mallmaverick.com" target="_blank">Mall Maverick</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content_container mobile_footer show_phone text_center">
                    <div class="">
                        <div class="newsletter_container text-center main_container" style="margin-bottom: 0px;">
                            <h2 class="heading">SIGN UP TO RECEIVE OUR UPDATES</h2>
                            <p class="newsletter_desc sub_title hidden_mobile">Special Offers <span>•</span> New Store Openings <span>•</span> Exclusive Events</p>
                            <router-link to="/newsletter" class="animated_btn newsletter_btn">Subscribe</router-link>
                        </div>
                        <hr class="show_phone" />
                    </div>
                    <div class="site_map main_container">
                        <div class="row">
                            <div class="col-xs-12 bottom_border">
                                <img src="//codecloud.cdn.speedyrails.net/sites/5d1e7b846e6f6418aa050000/image/jpeg/1562788670350/kanatacentral.jpg" class="" alt="" style="width:230px;padding: 20px;">
                                <div class="col-md-12 col-xs-12" style="padding-bottom: 20px;" v-if="property">
                                    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5612.133520073668!2d-75.91785636734846!3d45.30707702090197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDE4JzI1LjUiTiA3NcKwNTQnNDguNSJX!5e0!3m2!1sen!2sca!4v1562789436153!5m2!1sen!2sca" target="_blank">
                                        <p class="site_map_desc">
                                            <i class="fa fa-map-marker"></i>&nbsp;Located in the Heart of Kanata 
                                            <br />  
                                            Just off hwy 417 at Terry Fox Drive 
                                            <br />
                                            you'll find over 120 shops and restaurants.
                                        </p>
                                    </a>
                                </div>
                                <div class="col-xs-12 social_icons text_center">
                                    <a href="https://www.facebook.com/kanatacentralBIA/" target="_blank">
                                        <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1512595243879/fb_inverted_color_2x.png" class="mobile_social" alt="Follow Us On Facebook">
                                    </a>
                                    <a href="https://www.instagram.com/kanatacentralbia/" target="_blank">
                                        <img src="//codecloud.cdn.speedyrails.net/sites/5a1f136e6e6f6472c6240000/image/png/1512595298014/insta_inverted_color_2x.png" class="mobile_social" alt="Follow Us On Instagram">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 bottom_border">
                                <div class="rights_reserved" style="padding-top:10px">
                                    <p style="display:inline-block">
                                        Powered by <a href="//mallmaverick.com" target="_blank">Mall Maverick</a><br />
                                        ©{{copyright_year}} - {{property.name | uppercase}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {%endraw-%}
        <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/es6-shim@0.35.3/es6-shim.min.js"></script>
        <script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
    </body>
</html>
